################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.env
/env
/.vs/DCbot/v17
/.vs
