################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.env
/env
/.vs/DCbot/v17
/.vs
/cogs/__pycache__
/__pycache__
/creds
/cogs/new_fed_event.py
/cogs/dynamic_events.py
/cogs/new_yea_event.py
/cogs/dynamic_events.py
